<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-about md-padding">
  
</section>

<!--==========================
    Contact Section
============================-->
<section id="contact" style="background-color: #283792;;">
	<div class="container">

		<div class="row text-center" style="background-color: #283792;;">
			<div class="col-md-12 ">
				{{> site-alt-nav}}
			</div>
		</div>
	</div>
</section>
<section id="aboutus" class="md-padding">
	<div class="container">


<section id="contact" class="md-padding">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">Change Password</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{#if sessionFlash.message}}
                <div class="{{sessionFlash.type}}">
                    {{sessionFlash.message}}
                </div>
                {{/if}}
                <form action="/registeredusers/changepassword" method="POST">
                    <div class="row">
                        <div class="offset-2 col-md-8">

                            {{#if User}}
                            <div class="form-group">
                                <input class="form-control" name="oldPassword" type="password" placeholder="Old Password"
                                    value="{{User.oldPassword}}" required="required"
                                    data-validation-required-message="Please enter your Old Password.">
                                <p class="help-block text-danger"></p>
                            </div>
                            {{/if}}

                            {{#unless User}}
                            <div class="form-group">
                                <input class="form-control" name="oldPassword" type="password" placeholder="Old Password"
                                    required="required" data-validation-required-message="Please enter your Old Password.">
                                <p class="help-block text-danger"></p>
                            </div>
                            {{/unless }}

                            {{#if User}}
                            <div class="form-group">
                                <input class="form-control" name="newPassword1" type="password" placeholder="New Password"
                                    value="{{User.newPassword1}}" required="required"
                                    data-validation-required-message="Please enter your New Password.">
                                <p class="help-block text-danger"></p>
                            </div> {{/if}}

                            {{#unless User}}
                            <div class="form-group">
                                <input class="form-control" name="newPassword1" type="password" placeholder="New Password" value=""
                                    required="required" data-validation-required-message="Please enter your New Password.">
                                <p class="help-block text-danger"></p>
                            </div>{{/unless }}

                            {{#if User}}
                            <div class="form-group">
                                <input class="form-control" name="newPassword2" type="password" placeholder="New Password Again"
                                    value="{{User.newPassword2}}" required="required"
                                    data-validation-required-message="Please enter your New Password Again.">
                                <p class="help-block text-danger"></p>
                            </div> {{/if}}

                            {{#unless User}}
                            <div class="form-group">
                                <input class="form-control" name="newPassword2" type="password" placeholder="New Password Again" value=""
                                    required="required" data-validation-required-message="Please enter your New Password Again.">
                                <p class="help-block text-danger"></p>
                            </div>{{/unless }}


                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button id="sendRegisterButton" class="main-btn" type="submit">Save</button>


                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>