<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">Workflows</h1>
</section>

<!--==========================
    ABOUTUS Section Bizim mekan
============================-->


<section id="aboutus" class="md-padding">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-2 text-left"></div>

        <div class="col-md-8 bg-light py-3">
          <!--file create-->
          {{#if fileId}}
          <h3 class="d-flex justify-content-center">File</h3>
          <h4 class="d-flex justify-content-center">{{fileNo}}</h4>
          <br><br>

            <form action="/createfile/update" method="post" enctype="multipart/form-data">
              <input type="hidden" name="fileId" value="{{fileId}}">
              <label class="col-5 col-sm-5" id="" for="">File Type:</label>
              <select class="col-5 col-sm-5" size="1px" name="file_type" id="" disabled>
                <option value="{{file_type_id}}" selected>{{file_type_name}}</option>
              </select><br><br>
              <!-- <label class="col-5 col-sm-5" for="">Related Work Units:</label>
              <select class="col-5 col-sm-5" size="1px" name="work_unit" id="" disabled>
                <option value="{{work_unit_id}}" selected>{{work_unit_name}}</option>
              </select><br><br> -->
              <label class="col-5 col-sm-5" for="">Main Process:</label>
              <select class="col-5 col-sm-5" name="main_process" id="" disabled>
                <option value="{{main_process_id}}" selected>{{main_process_name}}</option>
              </select><br><br>
              <label class="col-5 col-sm-5" for="">Work Process:</label>
              <select class="col-5 col-sm-5" name="workflow" id="" disabled>
                <option value="{{workflow_id}}" selected>{{workflow_name}}</option>
              </select><br><br>
              <label class="col-5 col-sm-5" for="">Work Unit:</label>
              <select class="col-5 col-sm-5" name="workUnit" id="" disabled>
                <option value="{{work_unit_id}}" selected>{{work_unit_name}}</option>
              </select><br><br>

              <label class="col-5 col-sm-5" for="">File:</label>

              <input class="col-5 col-sm-5" type="file" accept="application/pdf" name="file" required />
              <br><br><br><br><br>
              <button class="btn btn-primary float-right" type="submit" value="Submit">Submit</button>
            </form>
          {{/if}}

<!--file upload-->

          {{#unless fileId}}
            <form action="/createfile/upload" method="post" enctype="multipart/form-data">
              <label class="col-5 col-sm-5" id="" for="" required>File Type:</label>
              <select class="col-5 col-sm-5" size="1px" name="file_type_id" id="">
                {{#each file_type}}
                <option value="{{file_type_id}}" >{{file_type_name}}</option>
                {{/each}}
              </select><br><br>
              <!-- <label class="col-5 col-sm-5" for="">Related Work Units:</label>
              <select class="col-5 col-sm-5" size="1px" name="work_unit" id="">
                <option value="mf">MF</option>
                <option value="ik">İK</option>
              </select><br><br> -->
              <label class="col-5 col-sm-5" for="">Main Process:</label>
              <select class="col-5 col-sm-5" name="main_process" id="" disabled>
                <option value="{{main_process_id}}" selected>{{main_process_name}}</option>
              </select><br><br>
              <input type="hidden" name="main_process_id" value="{{main_process_id}}" >
              <label class="col-5 col-sm-5" for="">Work Process:</label>
              <select class="col-5 col-sm-5" name="workflow" id="" disabled>
                <option value="{{workflow_id}}" selected>{{workflow_name}}</option>

              </select><br><br>
              <input type="hidden" name="workflow_id" value="{{workflow_id}}">
              <label class="col-5 col-sm-5" for="">Work Unit:</label>
              <select class="col-5 col-sm-5" name="work_unit_id" id="" required>
                {{#each work_unit}}
                <option value="{{work_unit_id}}" >{{work_unit_name}}</option>
                {{/each}}
              </select><br><br>


              <label class="col-5 col-sm-5" for="">File:</label>

              <input class="col-5 col-sm-5" type="file" accept="application/pdf" name="file" required />
              <br><br><br><br><br>
              <button class="btn btn-primary float-right" type="submit" value="Submit">Submit</button>

            </form>

          {{/unless}}

        </div>
      </div>






      <!-- <div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div> -->

    </div>
</section>
