<section class="page-image page-image-about md-padding">

</section>

<!--==========================
    ABOUTUS Section Bizim mekan
============================-->


<section id="aboutus" class="md-padding">
  <div class="container">

    {{#if sessionFlash.message}}
      <div class="{{sessionFlash.type}}">
        {{sessionFlash.message}}
      </div>
    {{/if}}

    <div class="container">

      {{#unless (eq create "0")}}
        <div class="row">
          <div class="col-md-2 text-left"></div>
          <div class="col-md-4 text-left">
            <label id="" for="">Work Unit Code:</label>
            <br><br>
            <label for="">Work Unit Name:</label>
            <br><br>
            <label for="">Academic/Administrative:</label>
            <br><br>
            <label for="">Manager</label>
            <br><br>

          </div>
          <div class="col-md-6">
            <form action="/workunits/editworkunit" method="POST">
              <input type="text" id="" name="work_unit_code" placeholder="Code" required><br><br>
              <input type="text" id="" name="work_unit_name" placeholder="Name" required><br><br>
              {{#if (eq acad "1")}}
                <label for="">Academic</label>
                <input type="hidden" name="acad" value="1">
              {{/if}}
              {{#if (eq acad "0")}}
                <label for="">Administrative</label>
                <input type="hidden" name="acad" value="0">
              {{/if}}
              <br><br>
              <select size="1px" name="manager" id="">
                {{#each managerOptions}}
                  <option value="{{_id}}">{{email}}</option>
                {{/each}}
              </select><br><br>
              <button type="submit" class="main-btn" type="submit">Create</button>
            </form>
          </div>
        </div>
      {{/unless}}

      {{#if (eq create "0")}}

        <div class="row">
          <div class="col-md-2 text-left"></div>
          <div class="col-md-4 text-left">
            <label id="" for="">Work Unit Code:</label>
            <br><br>
            <label for="">Work Unit Name:</label>
            <br><br>
            <label for="">Academic/Administrative:</label>
            <br><br>
            <label for="">Manager</label>
            <br><br>

          </div>
          <div class="col-md-6">
            <form form action="#" method="POST">

              <input type="text" id="" name="work_unit_code" class="col-md-8 wu-edit" placeholder="Code" disabled value="{{work_unit_code}}"><br><br>
              <input type="text" id="" name="work_unit_name" class="col-md-8 wu-edit" placeholder="Name" disabled value="{{work_unit_name}}"><br><br>

              {{#if (eq acad "1")}}
                <label for="">Academic</label>
                <input type="hidden" name="acad" value="1">
              {{/if}}
              {{#if (eq acad "0")}}
                <label for="">Administrative</label>
                <input type="hidden" name="acad" value="0">
              {{/if}}
              <br><br>
              <select size="1px" name="manager" readonly class="wu-edit" id="">

                <option value="{{currentManager._id}}" selected="true">{{currentManager.email}}</option>
                {{#each managerOptions}}
                  <option value="{{_id}}">{{email}}</option>
                {{/each}}

              </select><br><br><br>

              <button class="btn btn-primary " type="button" onclick="disablear();" name="save" id="btn1" style="display:none;">Save</button>
              <button class="btn btn-primary " type="button" onclick="disablear();" id="btn2">Edit</button>

              <br><br>


            </form>

          </div>
        </div>

        <section id="tabs" class="project-tab">
          <div class="container">
            <div class="row">
              <div class="col-md-12">

                <div class="tab-content" id="nav-tabContent " style="border:1px solid #ccc;">
                  <div class="text-center">
                    <h2>Personnel</h2>
                  </div>
                  <div class="tab-pane fade show active" id="nav-home" role="tabpanel">
                    <div class="table-responsive">
                      <div>

                      </div>
                      <table class="table table-hover" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#each organisers}}
                            <tr>
                              <th>{{name}}</th>
                              <th>{{surname}}</th>
                              <th>{{email}}</th>

                            </tr>
                          {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </section>

      {{/if}}
    </div>
  </div>


</section>
