<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">Treeview</h1>
</section>

<!--==========================
    ABOUTUS Section Bizim mekan
============================-->


<section id="aboutus" class="md-padding">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-2 text-left"></div>
<!--
        <div class="col-md-12 bg-light py-3">
          {{#each workUnits}}
            <hr>
            <h2 onclick="getElementById('{{name}}').classList.toggle('d-block');">-{{name}}</h2>
            <div class="col-md-11 float-right d-none" id="{{name}}">

              {{#each mainProcesses}}
              <hr>
              <h3 onclick="getElementById('{{../name}}{{name}}').classList.toggle('d-block');">-{{name}}</h3>
              <div class="col-md-11 float-right d-none" id="{{../name}}{{name}}">

                {{#each workflows}}
                <hr>
                  <h4 onclick="getElementById('{{../../name}}{{../name}}{{name}}').classList.toggle('d-block');">-{{name}}</h4>
                  <div class="col-md-11 float-right d-none" id="{{../../name}}{{../name}}{{name}}">
                    <hr>
                    {{#each files}}
                      <h5>File:{{name}}-{{id}}</h5>
                      <hr>
                    {{/each}}
                  </div>
                  <div style="clear:both"></div>

                {{/each}}
                <hr>
                </div>
                <div style="clear:both"></div>
                {{/each}}
                <hr>
            </div>
            <div style="clear:both"></div>


          {{/each}}
          <hr>
        </div>
 -->

<!-- -->

<div class="col-md-12 bg-light py-3">
  <div class="text-center">
    <h1>Workflow File</h1>
  </div>
  {{#each workUnits}}
    <hr>
    <h2 onclick="getElementById('{{workUnit}}').classList.toggle('d-block');">-{{workUnit}}</h2>
    <div class="col-md-11 float-right d-none" id="{{workUnit}}">
      {{#unless (eq mainProcesses.length 0)}}
      {{#each mainProcesses}}
      <hr>
      <h3 onclick="getElementById('{{../workUnit}}{{mainProcess}}').classList.toggle('d-block');">-{{mainProcess}}</h3>
      <div class="col-md-11 float-right d-none" id="{{../workUnit}}{{mainProcess}}">
        {{#unless (eq workflows.length 0)}}
        {{#each workflows}}
        <hr>
          <h4 onclick="getElementById('{{../../workUnit}}{{../mainProcess}}{{workflow}}').classList.toggle('d-block');">-{{workflow}}</h4>
          <div class="col-md-11 float-right d-none" id="{{../../workUnit}}{{../mainProcess}}{{workflow}}">

            {{#unless (eq files.length 0)}}
            <h1>ali</h1>
            {{#each files}}
              <h5>File:{{name}}-{{id}}</h5>
              <hr>
            {{/each}}
            {{/unless}}
          </div>
          <div style="clear:both"></div>

        {{/each}}
        <hr>
        {{/unless}}
        </div>
        <div style="clear:both"></div>
        {{/each}}
        <hr>
        {{/unless}}

    </div>
    <div style="clear:both"></div>


  {{/each}}
  <hr>
</div>
      </div>






      <!-- <div class="row text-center">
				<div class="col-md-4 offset-md-4">
					<div class="section-header">
						<h2 class="title">How We Begin</h2>
					</div>
				</div>
			</div> -->

    </div>
</section>
