<section class="page-image page-image-about md-padding">
  <h1 class="text-white text-center">Treeview</h1>
</section>

<section id="contact" style="background-color: #283792;;">
	<div class="container">

		<div class="row text-center" style="background-color: #283792;;">
			<div class="col-md-12 ">
				{{> site-alt-nav}}
			</div>
		</div>
	</div>
</section>


<section id="aboutus" class="md-padding">
  <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-2 text-left"></div>

        <div class="col-md-12 bg-light py-3">
          <div class="text-center">
            <h1>Workflow File</h1>
          </div>
          {{#each workUnits}}
            <hr>
            <h2 onclick="getElementById('{{workUnit}}').classList.toggle('d-block');">-{{workUnit}}</h2>
            <div class="col-md-11 float-right d-none" id="{{workUnit}}">
              {{#unless (eq mainProcesses.length 0)}}
                {{#each mainProcesses}}
                  <hr>
                  <h3 onclick="getElementById('{{../workUnit}}{{mainProcess}}').classList.toggle('d-block');">-{{mainProcess}}</h3>
                  <div class="col-md-11 float-right d-none" id="{{../workUnit}}{{mainProcess}}">
                    {{#unless (eq workflows.length 0)}}
                      {{#each workflows}}
                        <hr>
                        <h4 onclick="getElementById('{{../../workUnit}}{{../mainProcess}}{{workflow}}').classList.toggle('d-block');">-{{workflow}}</h4>
                        <div class="col-md-11 float-right d-none" id="{{../../workUnit}}{{../mainProcess}}{{workflow}}">

                          {{#unless (eq files.length 0)}}
                            <hr>
                            {{#each files}}
                              <form action="/createfile/download" class="col-md-12" method="POST">
                                <button type="submit" class="btn col-md-12" style="text-align:left; background:none; none;color:#283792">

                                  <h5 onclick=""> {{fileNo}} </h5>
                                </button>
                                <input type="hidden" name="file_id" value="{{_id}}">
                              </form>

                              <hr>
                            {{/each}}
                          {{/unless}}
                        </div>
                        <div style="clear:both"></div>

                      {{/each}}
                      <hr>
                    {{/unless}}
                  </div>
                  <div style="clear:both"></div>
                {{/each}}
                <hr>
              {{/unless}}

            </div>
            <div style="clear:both"></div>


          {{/each}}
          <hr>
        </div>
      </div>

    </div>
</section>
