<section class="page-image page-image-about md-padding">

</section>


<section id="contact" style="background-color: #283792;;">
	<div class="container">

		<div class="row text-center" style="background-color: #283792;;">
			<div class="col-md-12 ">
				{{> site-alt-nav}}
			</div>
		</div>
	</div>
</section>
<section id="aboutus" class="md-padding">
	<div class="container">


		<input class=" form-control" type="text" id="scrh" onkeyup="arama()" placeholder="Search for Work Process">
		<br>
		<section id="tabs" class="project-tab">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<nav>
							<div class="nav nav-tabs nav-fill" role="tablist"
								style="border:2px solid #ccc; font-weight: bolder;">
								<a class="nav-item nav-link active" data-toggle="tab" href="#nav-home" role="tab"
									aria-controls="nav-home" aria-selected="true">All
									Workflows</a>
								<a class="nav-item nav-link" data-toggle="tab" href="#nav-profile" role="tab"
									aria-controls="nav-profile" aria-selected="false">My Workflows</a>
								<a class="nav-item nav-link" data-toggle="tab" href="#nav-contact" role="tab"
									aria-controls="nav-contact" aria-selected="false">Old Workflows</a>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent " style="border:1px solid #ccc;">
							<div class="tab-pane fade show active" id="nav-home" role="tabpanel"
								aria-labelledby="nav-home-tab">
								<div class="table-responsive">
									<table class="table table-hover myTable" cellspacing="0" id="workflow_table">
										<thead>
											<tr>
												<th>Work Process</th>
												<th>Academic/Administrative</th>
												<th>Related Work Units</th>
												<th>Main Process</th>
												<th>Options</th>
											</tr>
										</thead>
										{{#each workflows}}
										<tr>
											<td> {{workprocessName}} </td>
											{{#if acad}}
											<td>Academic</td>
											{{/if}}
											{{#unless acad}}
											<td>Administrative</td>
											{{/unless}}
											<td>
												{{#each ../wunits}}
												{{#if (or
												(stringeq _id ../organiserId.workUnitId)
												(stringeq _id ../organiserId1.workUnitId)
												(stringeq _id ../organiserId2.workUnitId)
												)}}

												-{{workUnitName}}
												<br>

												{{/if}}
												{{/each}}
											</td>



											<td> {{ mainProcessId.mainProcessName}}</td>
											<td style="text-align:center">


												{{#if (or
												(stringeq creatorId.registeredUserId ../userid)
												(or (stringeq organiserId.registeredUserId ../userid))
												(or (stringeq organiserId1.registeredUserId ../userid))
												(or (stringeq organiserId2.registeredUserId ../userid))
												(or (stringeq managerId.registeredUserId ../userid))
												)}}

												<a href="/onchangefiles/{{_id}}">
													<i class="fas fa-hand-paper"></i> </a>


												{{#if (or
												(stringeq creatorId.registeredUserId ../userid))
												}}
												<form action="/workflows/disable" method="POST" id="disableformid">
													<input type="text" name="workflowid" value="{{_id}}" readonly
														hidden>
													<button type="button" class="btn" onclick="denemeon7(this)"
														style="background:none; none;color:#283792">
														<i class="fas fa-trash-alt" aria-hidden="true"></i></button>
												</form>

												{{/if}}

												{{else}}
												<a href="/onchangefiles/{{_id}}">
													<i class="fas fa-eye">
													</i> </a>
												{{/if}}
											</td>




										</tr>
										{{/each}}
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="nav-profile" role="tabpanel"
								aria-labelledby="nav-profile-tab">
								<div class="table-responsive">
									{{#if admin}}
									<a href="/onchangefiles/addworkflow"><input type="button" class="btn"
											style="background:none" value="Create New Workflow"></a>
									{{/if}}
									<table class="table table-hover myTable" cellspacing="0">
										<thead>
											<tr>
												<th>Work Process</th>
												<th>Academic/Administrative</th>
												<th>Related Work Units</th>
												<th>Main Process</th>
												<th>Options</th>
											</tr>
										</thead>
										{{#each workflows}}
										{{#if (or
										(stringeq creatorId.registeredUserId ../userid)
										(or (stringeq organiserId.registeredUserId ../userid))
										(or (stringeq organiserId1.registeredUserId ../userid))
										(or (stringeq organiserId2.registeredUserId ../userid))
										(or (stringeq managerId.registeredUserId ../userid))
										)}}

										<tr>
											<td> {{workprocessName}} </td>
											{{#if acad}}
											<td>Academic</td>
											{{/if}}
											{{#unless acad}}
											<td>Administrative</td>
											{{/unless}}

											<td>
												{{#each ../wunits}}
												{{#if (or
												(stringeq _id ../organiserId.workUnitId)
												(stringeq _id ../organiserId1.workUnitId)
												(stringeq _id ../organiserId2.workUnitId)
												)}}

												-{{workUnitName}}
												<br>

												{{/if}}
												{{/each}}
											</td>



											<td> {{ mainProcessId.mainProcessName}}</td>
											<td style="text-align:center">
												<form action="/onchangefiles/{{_id}}" method="POST">
													<button type="submit" class="btn"
														style="background:none; none;color:#283792">
														<i class="fas fa-hand-paper" aria-hidden="true"
															value="1"></i></button>
												</form>
												{{#if (or
												(stringeq creatorId.registeredUserId ../userid))
												}}
												<form action="/workflows/disable" method="POST" id="disableformid">
													<input type="text" name="workflowid" value="{{_id}}" readonly
														hidden>
													<button type="button" class="btn" onclick="denemeon7(this)"
														style="background:none; none;color:#283792">
														<i class="fas fa-trash-alt" aria-hidden="true"></i></button>
												</form>
												{{/if}}
											</td>
										</tr>
										{{/if}}
										{{/each}}
									</table>
								</div>
							</div>
							<div class="tab-pane fade" id="nav-contact" role="tabpanel"
								aria-labelledby="nav-contact-tab">
								<div class="table-responsive">
									<table class="table table-hover myTable" cellspacing="0">
										<thead>
											<tr>
												<th>Work Process</th>
												<th>Academic/Administrative</th>
												<th>Related Work Units</th>
												<th>Main Process</th>
												<th>Options</th>
											</tr>
										</thead>
										{{#each oldworkflows}}
										<tr>
											<td> {{workprocessName}} </td>
											{{#if acad}}
											<td>Academic</td>
											{{/if}}
											{{#unless acad}}
											<td>Administrative</td>
											{{/unless}}

											<td>
												{{#each ../wunits}}
												{{#if (or
												(stringeq _id ../organiserId.workUnitId)
												(stringeq _id ../organiserId1.workUnitId)
												(stringeq _id ../organiserId2.workUnitId)
												)}}

												-{{workUnitName}}
												<br>

												{{/if}}
												{{/each}}
											</td>



											<td> {{ mainProcessId.mainProcessName}}</td>
											<td style="text-align:center"><a href="/onchangefiles/{{_id}}">
													<i class="fas fa-eye"></a></td>
										</tr>
										{{/each}}
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>